* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 13px Helvetica, Arial;
    padding-bottom: 65px;
    height: 100%;
    background: #EEE;
}

.login-box {
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid #888;
    width: 400px;
    padding: 30px;
    background: #FFF;
}

.login-box h1 {
    margin-bottom:30px;
    font-weight:normal;
    color: #333;
}

.login-box input, #new-room input {
    display:block;
    border: 2px solid #AAA;
    padding: 15px 10px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
}

.login-box button, #chatbox_form button, #new-room button {
    background: #41a5da;
    color: #FFF;
    border: none;
    padding: 20px 0;
    font-size: 18px;
    cursor:pointer;
}

.login-box button:hover, #chatbox_form button:hover, #new-room button:hover {
    background: #338eb5;
    color: #FFF;
    cursor:pointer;
}

.login-box button {
    padding: 15px 20px;
}

.column {
    float: left;
    height: 100vh;
    overflow:hidden;
}

.room-column {
    width: 25%;
}

.chat-column {
    width: 75%;
    position:relative;
}

#new-room {
    border-bottom: 1px solid #888;
    margin-bottom:15px;
    height:55px;
}

#new-room input {
    margin:0;
    padding: 15px 10px;
    font-size: 18px;
    width:80%;
    float:left;
}

#new-room button {
    margin:0;
    padding: 0;
    font-size:30px;
    float:left;
    width:20%;
    height:55px;
    line-height:55px;
}

#chat-rooms li a {
    display:block;
    padding: 15px;
    font-size: 18px;
}

#chat-rooms li a:hover {
    background: #DDD;
    cursor:pointer;
}

#chat-rooms li.active a {
    background: #ffc520;
}

.chatbox_messages_wrapper {
    height: calc(100vh - 65px);
    overflow:auto;
    background:#FFF;
}

#chatbox_form {
    position: absolute;
    bottom: 0;
    background: #000;
    padding: 0;
    width: 100%;
    border-top: 4px solid #CCC;
}

#chatbox_form input {
    border: 0;
    padding: 20px 15px;
    width: 85%;
    font-size: 18px;
}

#chatbox_form button {
    width: 15%;
}

#chatbox_messages {
    list-style-type: none;
    margin: 0;
    padding: 1px 0;
}

#chatbox_messages li {
    padding: 20px 15px;
    margin: 40px 20% 20px 20px;
    font-size: 18px;
    display:block;
    position:relative;
    background: #ffe87c;
    transform: translateY(30px);
    transition: transform 0.3s;
}

#chatbox_messages li > span {
    font-size: 16px;
    font-style: italic;
    margin-top: -5px;
    margin-bottom: 5px;
    display:block;
}

#chatbox_messages li.system {
    background: #EEE;
    margin: 20px;
}

#chatbox_messages li.user {
    margin: 20px 20px 20px 20%;
    background: #ffc520;
}

#chatbox_messages li.system + li.system,
#chatbox_messages li.user + li.user,
#chatbox_messages li.consecutive-message {
    margin-top:-16px;
}

#chatbox_messages li.user + li.user > span {
    display:none;
}

#chatbox_messages li.user:not(.previous-message):after,
#chatbox_messages li:not(.user):not(.system):after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    line-height: 0;
}

#chatbox_messages li:not(.user):not(.system):not(.consecutive-message):after {
    top: -15px;
    left: 0;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ffe87c;
}

#chatbox_messages li.user:not(.previous-message):after {
    bottom: -15px;
    right: 0;
    border-left: 20px solid transparent;
    border-top: 15px solid #ffc520;
}

#chatbox_messages li.username-hidden > span {
    display:none;
}
